.container {
    position: relative;
    width: 50%;
  }
  

  .container img {
    width: 224px;
    height: 224px;
  }
  

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 100%;
      height: 100%
  }
  

  .container .btn:hover {
    filter: grayscale(100%);
  }

#stop_song, #stop_song2, #stop_song3, #stop_song9, #stop_song4, #stop_song5, #stop_song6, #stop_song7, #stop_song8{
  width: 224px;
  color: white;
  background-color: black;
}

body{
  background-color: rgb(41,65,171)
}
